* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
    /* comportamento de rolagem */
}

header {
    background-color: #F3D8CE;
    height: 190px;

}

header button {
    display: none;
}

header button svg{
    cursor: pointer;
}

header img {
    width: 300px;
}

header .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



.menu {
    width: 700px;
    display: flex;
    justify-content: space-around;
}

.menu a {
    font-size: 25px;
    font-family: "Genos";

    color: #360669;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    color: #360669;
    text-decoration-color: #360669;
}

#banner .container-grid {
    display: flex;
    justify-content: center;
}

#banner .container-grid img {
    width: 100%;
    margin: 100px;
}


#sobre {
    /* serve para centralizar o texto  */
    height: 600px;
    padding: 0px 25%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* altura do paragrafo */

}

h1 {
    font-family: "Genos";
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #360669;
}


#sobre p {
    font-family: "Barlow";
    font-size: 19px;

    text-align: left;

    line-height: 1.5;
}


/* CLIENTES */

.quadrado {
    width: 100px;
    height: 200px;
    background-color: white; /* Altere a cor conforme necessário */
}

h2 {

    font-family: "Genos";
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: white;

}


#clientes {
    background-color: #C33A0C;
    margin: 0 auto;
    /* padding-top: 200px;
(deixa no meio para quando for pelo link) */
}

/* Deixar os cards lado a lado    */
.container-grid {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 50px;
    margin-bottom: 40px;
}


/* forma do circulo */
.card {

    height: 200px;
    width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-color: white;

    border-radius: 500px;

    cursor: pointer;

}



.card img {
    width: 75%;
}

.logogalesun {
    width: 60%;
    height: 70%;
}

#depoimentos {
    /* serve para centralizar o texto  */
    height: 300px;
    padding: 0px 25%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* altura do paragrafo */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

h3 {
    font-family: "Genos";
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #360669;
}


#depoimentos p {
    font-family: "Barlow";
    font-size: 19px;

    text-align: left;

    line-height: 1.5;
}


#depoimentos button {
    width: 300px;
    height: 60px;
    background-color: #E15A1C;


    border: none;
    border-radius: 15px;

    color: white;

    font-family: "Barlow";
    font-size: 20px;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 500ms ease;
}

#depoimentos button:hover {
    background-color: #C33A0C;

}



/* ------------  */
#cotacao {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;

}

h4 {
    font-family: "Genos";
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #360669;

}

#cotacao h4 {
    margin-top: 200px;
    margin-bottom: 70px;
}

#cotacao form {

    width: 50%;
    margin: 0 auto;
    padding: 60px 0;
    /* primeiro vertical depois horizontal */

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    background-color: #49088D;
    color: white;
    font-family: "Barlow";
    font-size: 20px;

}

.campo {
    width: 80%;

    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;
}

.campo-descricao {
    width: 80%;

    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo input {
    height: 55px;
    color: black;
    background-color: white;

    border: none;
    /* border none remove bordas */
    border-radius: 15px;
    /* Redondar borda  */

    outline: none;

    text-indent: 10px;
}

.campo-descricao textarea {
    color: black;
    background-color: white;

    border: none;
    border-radius: 15px;

    padding: 10px;
    resize: none;

}

.campo label,
.campo-descricao label {

    margin-bottom: 15px;
}

.campo input,
.campo-descricao textarea {

    font-family: "Barlow";
    font-size: 17px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #b9b9b9;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid #E15A1C;
}


#cotacao form button {
    width: 250px;
    height: 60px;
    background-color: #E15A1C;
    color: white;

    border: none;
    border-radius: 60px;

    font-size: 30px;
    font-family: "Barlow";
    font-weight: 700;
    /* /* font-weigth Grossura da letra 700 é bold */

    text-transform: uppercase;
    /* transformar o texto, uppercase é deixar em maiusculo */

    cursor: pointer;
    /* cursor é o mouse */

    transition: background-color 500ms;
}

#cotacao form button:hover {
    background-color: #9E2F09;
}


--------------------------- button:hover {
    background-color: #B98FE3;
}

#whatsaap {
    padding: 40px;
    display: flex;
    justify-content: flex-end;
}

.botaozap {
    width: 430px;
    height: 70px;
    background: none;
    background-color: #DBCEE8;
    color: black;

    border: none;
    border-radius: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    font-size: 25px;
    font-family: "Genos";

    /* /* font-weigth Grossura da letra 700 é bold */


    cursor: pointer;
    /* cursor é o mouse */

    transition: background-color 500ms;

}

button img {
    width: 45px;
}


button:hover {
    background-color: #B98FE3;
}


/* footer  */

.container-grid {

    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}


footer {
    padding: 80px;
    /* margin-top: 150px; */
    background-color: #351868;
    height: 250px;
}

footer {

    /* serve para centralizar o texto  */
    height: 300px;


    /* display: flex; */
    flex-direction: initial;

}

footer .container-grid:nth-child(1) {
    border-bottom: 2px solid white;
}

footer .container-grid:nth-child(2) {
    display: flex;
    justify-content: center;

}


#escrita {
    font-family: "Genos";
    font-size: 25px;
    text-align: left;
    color: white;

    line-height: 1.5;
}


#icones {
    width: 240px;

    display: flex;
    justify-content: space-between;
}

#icones a {
    color: white;
}

#icones a:hover {
    color: #D160E3;
}

#final {
    margin-top: 30px;
    font-family: "Genos";
    font-size: 25px;

    text-align: left;
    align-self: center;
    color: white;
    line-height: 1.5;
}

.menu-fechado {
    display: none;
}

#icone-barras {
    display: none;
}


/* ---- */
@media screen and (max-width: 1300px) {

    header {
        position: relative;
    }

    header button {
        /* menu de sanduiche */
        width: 50px;

        display: unset;
        /* náo mechido */
        background: none;
        border: none;

    }

    header svg {
        fill: #360669;
    }

    nav.menu {

        height: 500px;
        width: 350px;

        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;

        background-color: #E15A1Cbb;

        position: absolute;
        top: 165px;
        right: 0px;
    }

    .menu a {
        color: white;
    }

    #sobre {
        padding: 100px 15%;
    }

    

    #depoimentos {
        padding: 100px 15%;
        height: unset;
    }

    #cotacao form {
        width: 75%;
    }

}



@media screen and (max-width: 1080px) {

    header img {
        width: 400px;

    }

    .container-grid {

        flex-wrap: nowrap;

        gap: 40px;

        overflow-x: auto;

    }

    .card {
        height: 200px;
        width: 200px;
        /* flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%; */

    }

    footer {
        height: unset;
        /* unset restaura propriedade da altura o footer deixando ele sem configuracao, o navegador vai reinderizar o que ja foif eito */
    }

    footer .container-grid {
        flex-direction: column;
    }


    footer p {
        font-size: 30px;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .redes-sociais {
        align-items: center;
    }




}

@media screen and (max-width: 800px) {
    #clientes .container-grid {
        display: flex;
        overflow-x: auto;
        /* Permite rolagem horizontal */
        gap: 20px;
        /* Espaçamento entre os elementos */
        padding: 20px;
        /* Espaçamento interno */
        /* Defina a largura máxima para evitar que o contêiner se estenda indefinidamente */
        max-width: 100%;
    }

    .card {
        flex: 0 0 auto;
        /* Impede a flexão dos itens */
        width: 200px;
        /* Largura dos cartões */
        height: 200px;
        /* Altura dos cartões */
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 500px;
        overflow: hidden;
        /* Evita que as imagens ultrapassem os limites dos cartões */
    }

    .card img {
        max-width: 100%;
        /* Garante que as imagens não ultrapassem os limites dos cartões */
        height: auto;
    }

    /* Adicione estilos para as setas de navegação se desejar */

}

@media screen and (max-width: 700px) {

   
    header img {
        width: 300px;

    }

    header button {
        width: 40px;
    }

    #sobre {
        height: unset;
        margin-bottom: 20px;
    }

    #sobre h1 {
        margin-bottom: 25px;
    }

    #sobre p {
        margin-bottom: 20px;

    }

    #clientes h2 {
        font-size: 25px;
    }

    #clientes .card {

        width: 150px;
        height: 150px;

    }



    #depoimentos a {
        width: 100%;
        text-align: center;
    }

    #cotacao h4 {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }

    #cotacao {
        margin-bottom: unset;
    }

    .campo,
    .campo-descricao {

        width: 70%;
    }

    #cotacao form button {
        font-size: 25px;
        width: 40%;

    }

    #whatsaap {
        font-size: 10px;
        width: 350px;
        height: 40px;
        /* display: flex;
    justify-content: flex-end;
    ajuda professor */
    }

    #whatsaap img {
        width: 30px;
    }

    .botaozap {
        font-size: 20px;
        font-family: "Genos";
    }

    .escrita  {
        font-size: 10px;
        font-family: "Genos";
    }
}

@media screen and (max-width: 600px) {


    #depoimentos button{
        height: 60px;
        width: 300px;
    }

    #cotacao {

        padding-top: 50px;
        /* background-color: #351868; */
        color: white;
    }

    #cotacao h4 {
        margin-top: 0;

    }

    #cotacao form {
        width: 100%; 
        border-radius: 0;
    }

    #escrita p {
        font-family: "Genos";
        font-size: 25px;
        text-align: left;
        color: white;

        line-height: 1.5;
    }

    footer p {
        font-family: "Genos";
        font-size: 25px;
        text-align: left;
        color: white;

        line-height: 1.5;
    }


    #icones {
        width: 200px;

        display: flex;
        justify-content: space-between;
    }


   #final {
        margin-top: 30px;
        font-family: "Genos";
        font-size: 20px;

        text-align: center;
        align-self: center;
        color: white;
        line-height: 1.5;
    }
}

@media screen and (max-width: 400px) {
    header img {
        width: 160px;
    }

    header svg {
        width: 40px;
    }

    .conteudo-banner p {
        font-size: 20px;
    }


    #escrita p{
        font-family: "Genos";
        font-size: 20px;
        text-align: left;
        color: white;
    
        line-height: 1.5;
    }
    
    
    #icones {
        width: 100px;
    
        display: flex;
        justify-content: space-between;
    }

    #final{
    margin-top: 5px;
    font-family: "Genos";
    font-size: 10px;
}

     #whatsaap {
        /* padding: 20px; */
        display: flex;
        justify-content: flex-end;
                }

    footer {
    
        margin-right: 5px;
    }

footer p {
    font-family: "Genos";
        font-size: 20px;
        text-align: left;
        color: white;
        line-height: 1.5;
    }
}


@media screen and (max-width: 350px) {
    header img {
        width: 160px;
    }

    header svg {
        width: 40px;
    }

    .conteudo-banner p {
        font-size: 20px;
    }


    #escrita p{
        font-family: "Genos";
        font-size: 15px;
        text-align: left;
        color: white;
    
        line-height: 1.5;
    }
    
    
    #icones {
        width: 100px;
    
        display: flex;
        justify-content: center;
    }

    #final{
    margin-top: 5px;
    font-family: "Genos";
    font-size: 15px;
}

     #whatsaap {
        /* padding: 20px; */
        display: flex;
        justify-content: flex-end;
                }

    footer {
    
        margin-right: 5px;
    }

footer p {
    font-family: "Genos";
        font-size: 15px;
        text-align: left;
        color: white;
        line-height: 1.5;
    }
}
